header {
    margin-bottom: 100px;
}

.navigation {
    height: 150px;
    background-color: var(--secondary);
    text-align: center;
    line-height: 150px;
}

p {
    padding: 0 var(--gutter);
    width: 25%;
    float: left
}

