header {
    margin-bottom: 100px;
}

.navigation {
    height: 150px;
    background-color: var(--secondary);
    text-align: center;
    line-height: 150px;
}

p {
    margin-bottom: 50px;
}

.photo-1 {
    float: left;
    margin-right: 20px;
}

.photo-2 {
    float:right
}

.photo-3 {
    float: left
}

