.container {
  max-width: var(--site-width);
  /* margin auto for left and right */
  margin: 0 auto;
  padding: 0 var(--gutter);
}


@media (min-width: 1600px) {
  .column {
    width: 25%;
    float: left;
    padding: 10px
  }
}

@media (max-width: 1600px) and (min-width: 900px) {
  .column {
    width: 50%;
    float: left;
    padding: 10px
  }
}

@media (max-width: 900px) {
  .column {
    width: 100%;
    float: left;
    padding: 10px
  }
}


