.navigation a {
    /*  this is inline */
    text-decoration: none;
    color: var(--primary);
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 30px;
    transition-property: color;
    /* recommended value for transition is 400ms-600ms */
    transition-duration: 500ms;
}

.navigation a:hover {
    color: #000
}

p::before {
    content: "\2714";
    font-size: 30px;
    color: #f11
}

h1 {
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
}



@media (max-width: 1000px) {
    /* inside here you will css which only is applied up to (max) the width of 1000px */

    body {
        background-color: #eac5c5;
    }

    h1 {
        color: #f10404;
        font-size: 120px;
    }

    nav.navigation {
        background-color: var(--secondary); 
    }
}

@media (max-width: 1400px) and (min-width: 1000px) {
    h1 {
        color: #d214d2;
        font-size: 200px;
    }

    nav.navigation {
        background-color: var(--primary);
    }

    nav.navigation a {
        color: #000
    }

    body {
        background-color: rgb(91, 16, 52);
    }

} 


@media (min-width: 1400px) {
    /* stylings here get applied from 1000px and more */
  h1 {
    color: #0707dd;
    font-size: 30px
  }

  nav.navigation {
    background-color: var(--tertiary);
  }

  body {
    background-color: #87c9b4;
  }
}


